<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="\css\style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <img src="\img\copy.jpg" class="potrait">
    <p><bold> website is creayed by Ravish Ahmad.It uses data From mapbox.com and uses API of darksky</bold></p>
    </div>
    
    {{>footer}}
</body>

</html>